# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
.pnp/
.pnp.js

# Build output
dist/
build/
dist-ssr/

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase/Netlify
.firebaserc
.netlify/

# Optional: backend-only stuff
uploads/
